<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Track Watched Episodes of Television's Greatest Shows!
  </h1>
</div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/livepd" routerLinkActive="active h3">Live PD</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/friends" routerLinkActive="active h3">Friends</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/messages" routerLinkActive="active h3">Message Board</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/refreshtest/1']" routerLinkActive="active h3">Refresh 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/refreshtest/2']" routerLinkActive="active h3">Refresh 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/randomgenerator']" routerLinkActive="active h3">Random Generator</a>
  </li>
</ul>

<router-outlet></router-outlet>
